@import url(https://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

body{
	margin: 0;
	padding: 0;
	background: #fff;

	color: #fff;
	font-family: Arial;
	font-size: 12px;
}

.body{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	width: auto;
	height: auto;
	background-image: url("../img/login_back.jpg");
	background-size: cover;
	background-position: center center;
	-webkit-filter: blur(0px);
	z-index: 0;
}

.grad{
	width: auto;
	height: auto;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	z-index: 1;
	opacity: 0.7;
}

.header{
	z-index: 2;
}

h1{
	-webkit-animation-name: inputAnime1; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1.6s; /* Safari 4.0 - 8.0 */
    animation-name: inputAnime1;
    animation-duration: 1.6s;
}

html,body {
 height: 100%;
}
.vertical-center
{
 height: 15%;
 float: none;
 vertical-align: middle;
}

.login{
	padding: 10px;
	z-index: 2;
}

.login input[type=text]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid #003e7d;
	border-radius: 4px;
	color: #000;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	
    position: relative;
	-webkit-animation-name: inputAnime1; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1.8s; /* Safari 4.0 - 8.0 */
    animation-name: inputAnime1;
    animation-duration: 1.8s;
}
.login input[type=password]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid #003e7d;
	border-radius: 4px;
	color: #000;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
	
    position: relative;
	-webkit-animation-name: inputAnime1; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: inputAnime1;
    animation-duration: 2s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes inputAnime1 {
    0%	  {opacity: 0;}
    100%  {opacity: 1;}
}

/* Standard syntax */
@keyframes inputAnime1 {
    0%	  {opacity: 0;}
    100%  {opacity: 1;}
}

.login input[type=submit]{
	width: 250px;
	height: 35px;
	background: #003e7d;
	border: 1px solid #003e7d;
	cursor: pointer;
	border-radius: 4px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
	
	-webkit-animation-name: inputAnime1; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2.2s; /* Safari 4.0 - 8.0 */
    animation-name: inputAnime1;
    animation-duration: 2.2s;
}

.login input[type=submit]:hover{
	opacity: 0.8;
}

.login input[type=submit]:active{
	opacity: 0.6;
}

.login input[type=text]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=password]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=submit]:focus{
	outline: none;
}

::-webkit-input-placeholder{
   color: #003e7d;
}

::-moz-input-placeholder{
   color: #003e7d;
}